.cute {
	font-family: 'Open Sans', sans-serif;
}

.bg-gray{
	background-color: lightgray;
}
.float-left-inline{
	display: inline-block;
	float: left;
}
.s-zero{
	padding: 0px;
	margin: 0px;
}
.card-body{
	padding: 0px;
}
p{
	margin: 0px;
}
.col-9{
	padding-left: 0px;
}
#todos{
	padding-bottom: 80px;
}